<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>失敗した</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="../css/style.css">
<script src="../js/openclose.js"></script>
<script src="../js/fixmenu_pagetop.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<div id="container">

<header>
<div class="inner">
<h1 id="logo"><a href="index.html"><img src="../images/logo.png" alt="SAMPLE BREEDER"></a></h1>
<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li><a href="index.html">ホーム</a></li>
<li><a href="about.html">当サイトについて</a></li>
<li class="current"><a href="list5.html">おすすめ商品</a></li>
<li><a href="usermenu.jsp">アカウント設定</a></li>
</ul>
</nav>
</div>
<!--/.inner-->
</header>

<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li><a href="index.html">ホーム</a></li>
<li><a href="about.html">当サイトについて</a></li>
<li class="current"><a href="list.html">おすすめ商品</a></li>
<li><a href="usermenu.jsp">アカウント設定</a></li>
</ul>
</nav>

<div class="inner">

<div id="contents">

<div id="main">

<section>

<h2>おすすめ商品</h2>

<div class="list">
<a href="item7.html">
<figure><img src="../img/daigo.jpg" alt="タイトル"></figure>
<h4>自分を操り、不安をなくす究極のマインドフルネス</h4>
<p>メンタリストDaiGo (著)
《心理学》×《マインドセット》×《瞑想》

マインドフルネスに導く心理学も豊富に解説。
まずは、トラブルや悩みを冷静に把握、
そのうえで取り組む瞑想は、より大きな効果をもたらす。</p>
</a>
</div>

<div class="list">
<a href="item8.html">
<figure><img src="../img/全ては導かれている.jpg" alt="タイトル"></figure>
<h4>すべては導かれている: 逆境を越え、人生を拓く 五つの覚悟</h4>
<p>人生に起こる、挫折や失敗・敗北、病気や喪失などの多くの苦難。
そうした局面で、「ついていない」「自分には運がない」、
あるいは「こんな目に遭うのは、あの人のせい」などと
ネガティブな感情にとらわれてしまうことが多い。
しかし、もう立ち上がることができないと思われるような逆境においても、
「すべてに意味がある」「私たちは良きことを為すために導かれている」「逆境は成長の機会」
「苦難を乗り越えるために必要なものはすべて与えられている」ことを心に定めると、
力と叡智が湧き上がり、それまで想像もしなかった不思議なことがやってくるーー。</p>
<span class="option1">おすすめ</span>
</a>
</div>

<div class="list">
<a href="item9.html">
<figure><img src="../img/一生懸命.jpg" alt="タイトル"></figure>
<h4>あやうく一生懸命生きるところだった</h4>
<p>ハ・ワン（著)
「こんなに一生懸命生きているのに、
自分の人生はなんでこうも冴えないんだ」と、
やりきれない気持ちが限界に達し、
40歳を目前にして何のプランもないまま会社を辞め、
「一生懸命生きない」と決めた著者。

★ムリしてやる気を出さない
★みんなに合わせない
★金持ちを目指さない
★失敗したら、いさぎよく諦める
★なんでも深刻に向き合いすぎない
★「年相応」に縛られない
★「やりたい仕事」を探そうとしない
★何もしない一日を大切にする……</p>
</a>
</div>

</section>

</div>
<!--/main-->

<div id="sub">

<nav>
<h2>カテゴリ</h2>
<ul class="submenu">
<li><a href="list2.html">落ち込んだ</a></li>
<li><a href="list3.html">自分に自信がない</a></li>
<li><a href="list4.html">失敗した</a></li>
<li><a href="list5.html">過去に戻りたい</a></li>
<li><a href="list6.html">失恋した</a></li>
</ul>
</nav>

<section class="box">

<h2>PICKUP</h2>

<div class="list">
<a href="../views/item23.html">
<figure><img src="../img/海賊と呼ばれた男.jpg" alt="タイトル"></figure>
<h4>海賊と呼ばれた男</h4>
<p>著者:百田尚樹</p>
</a>
</div>
<div class="list">
<a href="../views/item24.html">
<figure><img src="../img/嫌われる勇気.jpg" alt="タイトル"></figure>
<h4>嫌われる勇気</h4>
<p>著者:岸見一郎、古賀史健</p>
</a>
</div>
<div class="list">
<a href="../views/item25.html">
<figure><img src="../img/エッセンシャル.jpg" alt="タイトル"></figure>
<h4>エッセンシャル思考</h4>
<p>著者グレック マキューン</p>
<span class="option1">おすすめ</span>
</a>
</div>
<div class="list">
<a href="../views/item26.html">
<figure><img src="../img/堀江貴文.jpg" alt="タイトル"></figure>
<h4>ゼロ</h4>
<p>著者:堀江貴文</p>
</a>
</div>


</section>

</div>
<!--/#sub-->

</div>
<!--/#contents-->

</div>
<!--/.inner-->

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE BREEDER</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a></span>
</footer>

</div>
<!--/container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
